# Copy this file to .env and fill in your values
# Get your API key from https://thecatapi.com
CAT_API_BASE_URL=https://api.thecatapi.com/v1
CAT_API_KEY=live_IJVaSKqt8DsxikHtLDV6eVFpHTGo9YCPDcbGON68Nv3Ds7Cq0HXVZ3XQHISmRF8Y